<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/artplayer/dist/artplayer.css">

    @* <link rel="preload" href="https://cdn.livebongda8.com/livebongda8/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2" as="font" type="font/woff2" /> *@
    <link rel="preload" as="image" href="~/css/cdn.livebongda8.com/livebongda8/_next/static/media/logolivebongda9.dc0dfa7e.png" />
    <link rel="preload" as="image" href="~/css/cdn.livebongda8.com/livebongda8/_next/static/media/lichthidau.info.5ae4244d.png" />
    <link rel="preload" as="image" href="https://cdn.livebongda8.com/livebongda8/_next/static/media/FlagVN.1efed45b.webp" />
    <link rel="stylesheet" href="~/css/cdn.livebongda8.com/livebongda8/_next/static/css/6ccb894d9b8c5a1b.css" data-precedence="next" />
    <link rel="stylesheet" href="~/css/cdn.livebongda8.com/livebongda8/_next/static/css/a129f9aa0976b32b.css" data-precedence="next" />
    <link rel="stylesheet" href="~/css/cdn.livebongda8.com/livebongda8/_next/static/css/f92bb3d067ae65ea.css" data-precedence="next" />
    <link rel="stylesheet" href="~/css/styles.css" data-precedence="next" />
    <link rel="preload" as="script" fetchPriority="low" href="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/webpack-331d934fcfd86715.js" />
    <link rel="preload" href="https://www.googletagmanager.com/gtag/js?id=G-9QW5CL73JF" as="script" />
    <script src="~/css/" async=""></script>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/69-93768cc974b119ab.js" async=""></script>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/main-app-4dc8d484787186df.js" async=""></script>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/828-a1352af3cf4569f6.js" async=""></script>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/103-4d57ecc82b6435f8.js" async=""></script>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/255-e14c43f88c477bb5.js" async=""></script>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/358-52a8bd9455032d43.js" async=""></script>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/285-3b1fba206fff77e3.js" async=""></script>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/app/%5blocale%5d/layout-10e617434c19fdf6.js" async=""></script>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/935-d33eae5aa8c4704a.js" async=""></script>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/125-c3b57d5165e19b42.js" async=""></script>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/app/layout-bc0df1204a175dc2.js" async=""></script>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/147e179b-3ad5fa8c3de258b2.js" async=""></script>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/app/%5blocale%5d/page-2da54f3097bce838.js" async=""></script>
    <script src="https://unpkg.com/feather-icons"></script>

    <meta name="theme-color" content="#D70000" />
    <title>Link trực tiếp bóng đá Ngoại hạng Anh - Bình luận viên tiếng Việt chuyên nghiệp</title>
    <meta name="description" content="Chuyên trang Livebongda8 cập nhật những thông tin về bóng đá Ngoại hạng Anh cùng các giải đấu lớn trên toàn thế giới dưới nhiều góc nhìn và chia sẻ người bạn đọc." />
    <meta name="application-name" content="livebongda8.com" />
    <meta name="author" content="livebongda8.com" />
    <link rel="manifest" href="manifest.webmanifest" />
    <meta name="keywords" content="thể thao,bóng đá,bóng rổ,ngoại hạng anh,la liga,bundesliga,serie a,ligue 1,v league,uefa champions league,uefa europa league,uefa cl,tin tức bóng đá,Lịch thi đấu, kết quả, bảng xếp hạng bóng đá" />
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="revisit-after" content="1 days" />
    <link rel="canonical" href="index.html" />
    <link rel="alternate" hrefLang="vi-vn" href="index.html" />
    <meta property="og:title" content="Link trực tiếp bóng đá Ngoại hạng Anh - Bình luận viên tiếng Việt chuyên nghiệp" />
    <meta property="og:description" content="Chuyên trang Livebongda8 cập nhật những thông tin về bóng đá Ngoại hạng Anh cùng các giải đấu lớn trên toàn thế giới dưới nhiều góc nhìn và chia sẻ người bạn đọc." />
    <meta property="og:url" content="https://livebongda8.com" />
    <meta property="og:site_name" content="livebongda8.com" />
    <meta property="og:locale" content="vi-VN" />
    <meta property="og:image" content="https://cdn.livebongda8.com/origin/football/live/logolivebongda9.png" />
    <meta property="og:phone_number" content="0941489919" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Link trực tiếp bóng đá Ngoại hạng Anh - Bình luận viên tiếng Việt chuyên nghiệp" />
    <meta name="twitter:description" content="Chuyên trang Livebongda8 cập nhật những thông tin về bóng đá Ngoại hạng Anh cùng các giải đấu lớn trên toàn thế giới dưới nhiều góc nhìn và chia sẻ người bạn đọc." />
    <meta name="twitter:image" content="https://cdn.livebongda8.com/origin/football/live/logolivebongda9.png" />
    <link rel="shortcut icon" href="favicon-32x32.png" type="image/png" sizes="32x32" />
    <link rel="shortcut icon" href="favicon-16x16.png" type="image/png" sizes="16x16" />
    <link rel="icon" href="favicon-32x32.png" type="image/png" sizes="32x32" />
    <link rel="icon" href="favicon-16x16.png" type="image/png" sizes="16x16" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" type="image/png" sizes="180x180" />
    <link rel="mask-icon" href="safari-pinned-tab.html" color="#37003c" />
    <meta name="next-size-adjust" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="geo.region" content="VN-SG" />
    <meta name="geo.placename" content="Thanh pho Ho Chi Minh" />
    <meta name="geo.position" content="10.729374;106.723387" />
    <meta name="ICBM" content="10.729374, 106.723387" />
    <meta name="appleid-signin-client-id" content="com.cafetintucthethao.sports.weblogin" />
    <meta name="appleid-signin-scope" content="name email" />
    <meta name="appleid-signin-redirect-uri" content="https://livebongda8.com/dang-nhap" />
    <meta name="appleid-signin-state" content="7a935174-a3cd-40d9-9605-74ab2f1e290e" />
    <meta name="appleid-signin-nonce" content="7a935174-a3cd-40d9-9605-74ab2f1e290e" />
    <meta name="appleid-signin-use-popup" content="true" />

    <meta name="google-site-verification" content="1b_o774qDz5FXehW62wCBCQmIPgb-SlAv7lKLpG5vwQ" />
    
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js" noModule=""></script>
    
</head>
<body class="__className_edaf02" onload="feather.replace()">
    <template id="B:0">
    </template>
    <script src="~/css/cdn.livebongda8.com/livebongda8/_next/static/chunks/webpack-331d934fcfd86715.js" async=""></script>
    <div hidden id="S:0">
        <main>
            @Html.Partial("Layout/Header")
            <template id="P:1">
            </template>
        </main>
        <div role="region" aria-label="Notifications (F8)" tabindex="-1" style="pointer-events:none">
            <ol tabindex="-1" class="fixed top-0 z-[100] flex max-h-screen w-full flex-col-reverse p-4 sm:bottom-0 sm:right-0 sm:top-auto sm:flex-col md:max-w-[420px]"></ol>
        </div>
    </div>
    <link rel="preload" as="image" href="https://cdn.livebongda8.com/livebongda8/_next/static/media/banner_cf.d1d83371.webp" />
    <link rel="preload" as="image" href="https://cdn.livebongda8.com/livebongda8/_next/static/media/banner_alo.25ba5281.webp" />

   

    <div hidden id="S:1">
         @RenderBody()
    </div>
    <script>
        $RS = function (a, b) {
            a = document.getElementById(a);
            b = document.getElementById(b);
            for (a.parentNode.removeChild(a); a.firstChild;)
                b.parentNode.insertBefore(a.firstChild, b);
            b.parentNode.removeChild(b)
        }
            ;
        $RS("S:1", "P:1")
    </script>
    <script>
        $RC = function (b, c, e) {
            c = document.getElementById(c);
            c.parentNode.removeChild(c);
            var a = document.getElementById(b);
            if (a) {
                b = a.previousSibling;
                if (e)
                    b.data = "$!",
                        a.setAttribute("data-dgst", e);
                else {
                    e = b.parentNode;
                    a = b.nextSibling;
                    var f = 0;
                    do {
                        if (a && 8 === a.nodeType) {
                            var d = a.data;
                            if ("/$" === d)
                                if (0 === f)
                                    break;
                                else
                                    f--;
                            else
                                "$" !== d && "$?" !== d && "$!" !== d || f++
                        }
                        d = a.nextSibling;
                        e.removeChild(a);
                        a = d
                    } while (a);
                    for (; c.firstChild;)
                        e.insertBefore(c.firstChild, a);
                    b.data = ""
                }
                b._reactRetry && b._reactRetry()
            }
        }
            ;
        $RC("B:0", "S:0")
    </script>
    @* <script src="https://cdn.jsdelivr.net/npm/artplayer/dist/artplayer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/flv.js@latest"></script>
    <script>
        let artPlayer;

        document.addEventListener('DOMContentLoaded', function () {
            artPlayer = new Artplayer({
                container: '#video-player',
                url: '', 
                type: 'flv',
                autoSize: true,
                autoMini: true,
                playbackRate: true,
                aspectRatio: true,
                fullscreen: true,
                miniProgressBar: true,
                setting: true,
                customType: {
                    m3u8: function (video, url) {
                        if (Hls.isSupported()) {
                            var hls = new Hls();
                            hls.loadSource(url);
                            hls.attachMedia(video);
                        } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                            video.src = url;
                        }
                    },
                    flv: function (video, url) {
                        if (flvjs.isSupported()) {
                            var flvPlayer = flvjs.createPlayer({
                                type: 'flv',
                                url: url
                            });
                            flvPlayer.attachMediaElement(video);
                            flvPlayer.load();
                        }
                    }
                }
            });

            const links = document.querySelectorAll('a.match-container');
            links.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const url = this.getAttribute('href');

                    artPlayer.switchUrl(url + '.flv');

                    updateMatchTitle(this.getAttribute('data-match-title'));
                });
            });
        });

        function updateMatchTitle(title) {
            document.getElementById('match-title').textContent = title;
        }
    </script> *@
</body>
<!-- Mirrored from livebongda8.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 04 Jun 2024 14:47:06 GMT -->
</html>
