<header class="main-header py-3">
    <div class="container flex gap-2 items-center justify-between">
        <div class="flex gap-[60px] items-center">
            <a href="index.html">
                <img src="~/css/cdn.livebongda8.com/livebongda8/_next/static/media/logolivebongda9.dc0dfa7e.png" width="136" height="60" alt="Logo livebongda9" class="rounded-[5px] object-contain shadow-sm w-[100px] h-[40px] 2xl:w-[136px] 2xl:h-[60px] lg:w-[136px] lg:h-[60px] xl:w-[136px] xl:h-[60px]" />
            </a>
        </div>
        <a target="_blank" href="https://cafethethao.page.link/dynamic">
            <img src="~/css/cdn.livebongda8.com/livebongda8/_next/static/media/lichthidau.info.5ae4244d.png" alt="banner" class="w-full hidden 2xl:flex xl:flex lg:flex lg:max-w-[600px] xl:max-w-[700px] 2xl:max-w-[1100px] h-auto object-contain" />
        </a>
        <div class="flex gap-2 items-center">
            <div class="cursor-pointer" type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="radix-:R1qmula:" data-state="closed">
                <img src="https://cdn.livebongda8.com/livebongda8/_next/static/media/FlagVN.1efed45b.webp" width="25" height="25" alt="Hình ảnh lá cờ Việt Nam" class="lang-flag bg-white rounded-[50%] p-[1px] w-[25px] h-[25px]" />
            </div>
            <div>
                <div class="header_auth-desktop ">
                    <a class="flex btn-login-bongda8" href="dang-nhap.html">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</header>